<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MeetU - <%=user%></title>
  <link href="./vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
  <link href="./vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <!-- Font special for pages-->
  <link href="./https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="./vendor/select2/select2.min.css" rel="stylesheet" media="all">
  <link href="./vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
  <link href="./css/mainn.css" rel="stylesheet" media="all">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="./vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="./css/landing-page.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="./vendor/bootstrapp/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="./vendor/fontawesome-freee/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./css/resumee.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="/">    
          <span class="d-none d-lg-block">
                <img class="img-fluid" src="./img/MeetULogo.png" alt="">
              </span>
        </a>
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none"><%=user%></span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="<%=data.fot_us%>" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Amigos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Match</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Configurar Intereses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/Chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/LogOut">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Hola! 
          <span class="text-success"><%=user%></span>
        </h1>
        <div class="subheading mb-5"><%=data.nom_us%> ·
          <span class="text-success"><%=data.bol_us%></span>
        </div>
        
        <p class="lead mb-5">Gustos: <%=data.nom_gus%></p>
        <p class="lead mb-5">Música: <%=data.nom_mus%></p>
        <p class="lead mb-5">Películas: <%=data.nom_pel%></p>
        <p class="lead mb-5">Lectura: <%=data.nom_lec%></p>
        <p class="lead mb-5">Deportes: <%=data.nom_dep%></p>
        <p class="lead mb-5">VideoJuegos: <%=data.nom_vid%></p>
         
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">TUS AMIGOS, <%=user%></h2>
        <div class="row align-items-start">
            <%if(amigos!=null&&amigos.length>3){ 
              for(var i = 0; i < 3; i++){ %>  
              <div class="col">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    <span class="d-block d-lg-block">
                        <img class="img-fluid img-thumbnail img-profile rounded-circle mx-auto mb-2" alt="" src="<%=amigos[i].fot_us%>" alt="">
                    </span>
                    <p class="font-weight-bold text-center text-success"><%=amigos[i].use_us%></p>
                </a>
            </div>
            <%}
              }else if(amigos!=null){ 
              for(var i = 0; i < amigos.length; i++){ %>  
              <div class="col">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    <span class="d-block d-lg-block">
                        <img class="img-fluid img-thumbnail img-profile rounded-circle mx-auto mb-2" alt="" src="<%=amigos[i].fot_us%>" alt="">
                    </span>
                    <p class="font-weight-bold text-center text-success"><%=amigos[i].use_us%></p>
                </a>
            </div>
            <%}%>
            <%}else{%>
              <h3 class="mb-0">
                Accede al área de match para hacer amigos!
              </h3>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            <%}%>
        </div>
        <br>
        <br>
        <div class="row justify-content-center align-items-center">
            <div class="col-xs-12">
                    <div class="center-block">
                        <a class="btn btn-block btn-lg btn-success" href="#" role="button">Todos Mis Amigos</a>
                    </div>
            </div>
        </div>
      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Proceso de Match</h2>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Al dar click en el botón "Match" de MeetU, serás redirigido a otra página donde podrás ver todas
                las personas con las que compartas alguno o más intereses, allí podrás seleccionar a uno de ellos para empezar 
                a chatear con él y quién sabe, algún día llegar a ser buenos amigos!</h3>
            <div class="subheading mb-3">Qué estás esperando para hacer MeetU!</div>
          </div>
        </div>
        <a class="btn btn-block btn-lg btn-success" href="/Match" role="button">MATCH</a>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        <div class="w-100">
                <div class="card card-2">
                        <div class="card-body">
                            <h2 class="title">Intereses</h2>
                            <form method="POST" action="/Reg/Int">
                                <div class="input-group">
                                    <input class="input--style-2" type="text" placeholder="Gustos (Una pequeña descripción de tu persona que será vista por todos con los que hagas Match)" name="Gustos">
                                </div>
                                <div class="row row-space">
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="Musica">
                                                    <option disabled="disabled" selected="selected">Música**********</option>
                                                    <option>Dubstep</option>
                                                    <option>Blues</option>
                                                    <option>Country</option>
                                                    <option>Cumbia</option>
                                                    <option>Disco</option>
                                                    <option>Electrónica</option>
                                                    <option>Flamenco</option>
                                                    <option>Folk</option>
                                                    <option>Funk</option>
                                                    <option>Gospel</option>
                                                    <option>Heavy Metal</option>
                                                    <option>Hip Hop</option>
                                                    <option>Reggaeton</option>
                                                    <option>Rock</option>
                                                    <option>Rap</option>
                                                    <option>Deathstep</option>
                                                    <option>Alternativa</option>
                                                    <option>SynthWave</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                            <div class="input-group">
                                                <div class="rs-select2 js-select-simple select--no-search">
                                                    <select name="Lectura">
                                                        <option disabled="disabled" selected="selected">Lectura************</option>
                                                        <option>Drama</option>
                                                        <option>Terror</option>
                                                        <option>Suspenso</option>
                                                        <option>Sci-Fi</option>
                                                        <option>Aventura</option>
                                                        <option>Históricos</option>
                                                        <option>Juvenil</option>
                                                        <option>Futuristas</option>
                                                        <option>Literatura Clásica</option>
                                                    </select>
                                                    <div class="select-dropdown"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                                <div class="input-group">
                                                    <div class="rs-select2 js-select-simple select--no-search">
                                                        <select name="Peliculas">
                                                            <option disabled="disabled" selected="selected">Películas************</option>
                                                            <option>Acción</option>
                                                            <option>Aventuras</option>
                                                            <option>Comedia</option>
                                                            <option>Dramáticas</option>
                                                            <option>Terror</option>
                                                            <option>Musicales</option>
                                                            <option>Ciencia Ficción</option>
                                                            <option>Bélicas</option>
                                                            <option>Para Otakus</option>
                                                            <option>Suspenso</option>
                                                            <option>Clásicas</option>
                                                            <option>Futuristas</option>
                                                            <option>Adultos</option>
                                                            <option>Románticas</option>
                                                            <option>Adaptaciones</option>
                                                            <option>Super Héroes</option>
                                                            <option>Animadas</option>
                                                            <option>Infantiles</option>
                                                            <option>Life Action</option>
                                                            <option>Fantasia</option>
                                                            <option>Princesas</option>
                                                        </select>
                                                        <div class="select-dropdown"></div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row row-space">
                                            <div class="col-4">
                                                <div class="input-group">
                                                    <div class="rs-select2 js-select-simple select--no-search">
                                                        <select name="Deportes">
                                                            <option disabled="disabled" selected="selected">Deportes**********</option>
                                                            <option>Soccer</option>
                                                            <option>Football</option>
                                                            <option>Baseball</option>
                                                            <option>Rugby</option>
                                                            <option>Natación</option>
                                                            <option>Artes Marciales</option>
                                                            <option>Basketball</option>
                                                            <option>Patinaje Artístico</option>
                                                            <option>Polo</option>
                                                            <option>Hockey</option>
                                                            <option>Box</option>
                                                            <option>Ballet</option>
                                                            <option>Gimnasia</option>
                                                        </select>
                                                        <div class="select-dropdown"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                    <div class="input-group">
                                                        <div class="rs-select2 js-select-simple select--no-search">
                                                            <select name="Video">
                                                                <option disabled="disabled" selected="selected">Video Juegos****</option>
                                                                <option>RPG</option>
                                                                <option>Acción</option>
                                                                <option>Aventura</option>
                                                                <option>PvP</option>
                                                                <option>PvE</option>
                                                                <option>Battle Royale</option>
                                                                <option>Puzzle</option>
                                                                <option>Suspenso</option>
                                                                <option>Terror</option>
                                                            </select>
                                                            <div class="select-dropdown"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                <br>
                                <div class="p-t-30">
                                    <button class="btn btn-block btn-lg btn-success" type="submit">Configurar Intereses</button>
                                </div>
                            </form>
                        </div>
                    </div>
        </div>
    </section>


  </div>
  <script src="./vendor/jqueryyy/jquery.min.js"></script>
  <script src="./js/globall.js"></script>
  <script src="./vendor/jqueryy/jquery.min.js"></script>
  <script src="./vendor/select2/select2.min.js"></script>
  <script src="./vendor/datepicker/moment.min.js"></script>
  <script src="./vendor/datepicker/daterangepicker.js"></script>
  <script src="./js/global.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="./vendor/jqueryyyy/jquery.min.js"></script>
  <script src="./vendor/bootstrapp/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="./js/resumee.min.js"></script>

</body>

</html>
